@mixin sliderAppearance {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $yellow-color;
}
.collapsible {
    background-color: $primaryColor;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom: 1px solid $light-grey;
  }
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;   
    background-color: $light-grey;    
  }
  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 75%;
    height: 2px;    
    background: $light-grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .sliderValue {
      display:flex;
  }
  .minVal{
    margin-left: 10%;
  }
  .maxVal {
    margin-left: 35%;
  }
  .slider:hover {
    opacity: 1;
  }  
  .slider::-webkit-slider-thumb {
    @include sliderAppearance();

    -webkit-appearance: none;
    appearance: none;   
    cursor: pointer;
  }  
  .slider::-moz-range-thumb {
    @include sliderAppearance();

    cursor: pointer;
  }
  .filterValue {
    display: flex;    
    cursor: pointer;
  }
  .selectedFilter {
      color: red;
  }
  .displaySide{
    width: 20% !important ;
}
.clearbtn{
    margin-top: 7%;
    margin-left: 19%;
    background-color: $yellow-color;
    border-radius: 9px;
}

  .area{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primaryColor;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 27px;
    text-align: center;
    
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    transition: 0.7s;
}
.filterText {
    color: $light-grey;
    float: left;
    margin-left: 8%;
}
.arrow{
    float: right;
    font-size: 1em;
}
.closebtn:hover{
    color: rgb(87, 206, 87);
}
.headerButtonContainer{
    display:none
}
@media (min-width: 320px) and (max-width: 480px){
    .displaySide{
        width: 58% !important;
    } 
    .headerButtonContainer{
        display:flex;
    }
    .mediaHeaderItem {
        font-size: $font-normal;
    margin-right: 6%;
    }
    .area {
        padding-top: 0;
    }
}
