.header {
  margin: 0px;
  padding: 20px;
  background-color: white;
  display: flex; }

.headerItem {
  margin-left: 15%; }

.filter {
  text-align: center;
  margin: 20px auto;
  margin-left: 52%;
  margin-top: 1%; }

.input {
  border: none !important;
  -webkit-appearance: none;
  border-width: 0;
  box-shadow: none; }
  .input:focus {
    outline: none !important; }

.logInBtnNavBar {
  float: left;
  margin: 0px 0px;
  border: none;
  background: none;
  background-color: black;
  color: white;
  padding: 9px;
  font-size: 120%;
  letter-spacing: 1px;
  outline: none;
  transition: 0.7s;
  cursor: pointer;
  width: 4%; }

.btnContainer {
  display: flex; }

@media (min-width: 320px) and (max-width: 480px) {
  .logInBtnNavBar {
    width: 11%;
    height: 48px; }
  .filter {
    margin-left: 0; }
  .btnContainer {
    display: flex;
    flex-direction: column; }
  .headerItem {
    display: none; } }

@media (max-height: 480px) and (orientation: landscape) {
  .logInBtnNavBar {
    width: 13%;
    height: 40px; }
  .headerItem {
    display: none; }
  .filter {
    margin-left: 27%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .filter {
    margin-left: 23%; }
  .logInBtnNavBar {
    width: 8%;
    height: 45px; } }

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-bottom: 1px solid lightgray; }

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: lightgray; }

.slidecontainer {
  width: 100%; }

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 2px;
  background: lightgray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.sliderValue {
  display: flex; }

.minVal {
  margin-left: 10%; }

.maxVal {
  margin-left: 35%; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: gold;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: gold;
  cursor: pointer; }

.filterValue {
  display: flex;
  cursor: pointer; }

.selectedFilter {
  color: red; }

.displaySide {
  width: 20% !important; }

.clearbtn {
  margin-top: 7%;
  margin-left: 19%;
  background-color: gold;
  border-radius: 9px; }

.area {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 27px;
  text-align: center; }

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: black;
  transition: 0.7s; }

.filterText {
  color: lightgray;
  float: left;
  margin-left: 8%; }

.arrow {
  float: right;
  font-size: 1em; }

.closebtn:hover {
  color: #57ce57; }

.headerButtonContainer {
  display: none; }

@media (min-width: 320px) and (max-width: 480px) {
  .displaySide {
    width: 58% !important; }
  .headerButtonContainer {
    display: flex; }
  .mediaHeaderItem {
    font-size: 12px;
    margin-right: 6%; }
  .area {
    padding-top: 0; } }

.displayContent {
  display: inline-block;
  margin: 10px;
  padding: 15px; }

.imgCover {
  width: 200px;
  height: 158px;
  overflow: hidden;
  border-bottom: 3px solid #dddbdb;
  cursor: pointer;
  overflow: hidden; }

.image {
  width: 200px;
  height: 160px; }

.loaderMessage {
  margin-left: 50%;
  margin-top: 50%; }

.itemTitle {
  font-size: 12px;
  margin-bottom: 1px; }

.itemCategory {
  font-size: 11px;
  color: lightgray; }

.itemPrice {
  font-size: 11px;
  margin-left: 63%; }

.details {
  display: flex; }

.rightDisplay {
  margin-left: 14%; }

.cart {
  margin-left: 61%;
  font-size: 13px !important; }

.star {
  font-size: 11px !important; }

@media (min-width: 320px) and (max-width: 480px) {
  .rightDisplay {
    margin-left: 15%; } }

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif; }

.topBtn {
  background: none;
  border: none;
  color: white;
  background-color: #454955;
  width: 50px;
  height: 50px;
  padding: 0px;
  border-radius: 50%;
  transition: 1s;
  margin: 0px auto;
  outline: none;
  cursor: pointer; }
